body {
  font-family: "Montserrat";
  text-align: center;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  font-family: "Montserrat";
  color: #8f8f8f;
}

/* Headings Section  */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background: linear-gradient(
    180deg,
    rgba(255, 76, 104, 1) 42%,
    rgba(255, 255, 255, 1) 99%
  );
  color: #ffffff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 6%;
}

/* Title Image */

.title-image {
  width: 52%;
  transform: rotate(24deg);
  position: absolute;
  margin-left: 23%;
}

/* Features Section */

#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 7%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  background: linear-gradient(
    180deg,
    rgba(255, 76, 104, 1) 42%,
    rgba(255, 255, 255, 1) 99%
  );
  color: #fff;
}

.testimonial-text {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 13%;
  border-radius: 100%;
  margin: 70px;
}

#press {
  padding-bottom: 3%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 41%,
    rgb(255, 76, 104, 1) 99%
  );
}

.press-logo {
  width: 11rem;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.card {
  height: 100%;
  width: 25rem;
}

#pricing {
  padding: 120px 80px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 42%,
    rgb(255, 76, 104) 99%
  );
}

.price-text {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 5%;
}

.pricing-column h3 {
  margin-top: 10px;
}

/* CTA Section  */

#cta {
  color: #fff;
  background: linear-gradient(
    180deg,
    rgb(255, 76, 104) 99%,
    rgba(255, 255, 255, 1) 42%
  );
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

.social-icon:hover {
  color: #ff4c68;
}

@media (max-width: 1050px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 50%;
    margin: auto;
    padding-top: 5%;
  }
}
